{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="description" content="Keekeeper web application">
    <meta name="keywords" content="HTML,Django,python,passwordsstroing,secure,retriving,webapplication,development">
    <meta name="author" content="I.Sheresh">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" type="text/css" href="../static/css/passkeeper.css"> 
    <link rel="stylesheet" type="text/css" href="../../static/css/passkeeper.css"> 
 </head>
 <body>