<html>
 <head>
 </head>
 <body>
 <h1>{{category.pass_category}}</h1>
 <table> 
  <tr><th>Title</th><th>Username</th><th>Password</th><th>Url</th><th>Comment</th><th>#</th><th>#</th></tr>
  {% for passitem in  passitems %}
  <tr><td>{{passitem.password_id}}</td><td>{{passitem.username}}</td><td>{{passitem.password}}</td><td>{{passitem.url}}</td><td>{{passitem.comment}}</td><td><a href="/edit/{{passitem.pk}}">Edit</a></td><td><a href="/delete/{{passitem.pk}}/{{category.id}}">Delete</a></td></tr>
  {% endfor %}
 </table>
 </body>
</html>