
<nav class="navbar navbar-expand-md sticky-top flex-column">
    <div class="w-100 d-flex">
        <div class="navbar-header" id="header">
            <img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/8/8a/6_key_copy.svg" alt="key logo" width="50px" height="50px">
            <h1 id="application_title">KeeKeeper</h1>
        </div>
    </div>

    <div class="w-100 d-flex">            
        <ul  class="navbar-nav ml-auto" id="navigation">
            <li class="nav-item active"><a class="nav-link" href="/">Home&nbsp; </a></li>
            <li class="nav-item active"><a class="nav-link" href="https://commons.wikimedia.org/wiki/Main_Page">Wiki&nbsp; </a></li>
            <li class="nav-item active"><a class="nav-link" href="https://www.uniprot.org/">Uniprot&nbsp; </a></li>
        </ul>
        
        {% if user.is_authenticated %}
        <ul  class="navbar-nav mr-auto" id="navigation">
            <li class="nav-item active">
            <a class="nav-link" href="#">  Hello {{ user.username }} <span class="sr-only">(current)</span></a> 
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="../logout"> Log out<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        {% else %}
        <ul  class="navbar-nav mr-auto" id="navigation">
            <li class="nav-item active" >
            <a class="nav-link" href="../register"> Register <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="../login"> Log In <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        {% endif %}


        </div>
</nav>